//words

@mixin fonts($font, $size, $color, $weight:normal, $height:auto) {
	font-family: $font;
	font-size: $size;
	color: $color;
	font-weight: $weight;
	line-height: $height;
}


@mixin linx($link, $hover, $active) {
	color: $link;
	&:hover { color: $hover; }
	&:active { color: $active; }
}


//alignment
@mixin v-align() {
	flex-direction: column;
	justify-content: center;
}

@mixin center-list() {
	list-style: none;
	display: inline-block;
}

@mixin box-sizing() {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


//structure
@mixin wrapper($width) {
  max-width: $width;
  margin: auto;
}

// flexbox
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  display: box;
}

@mixin centerflex() {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

//breakpoints
@mixin bp-large() {
  @media only screen and (max-width: 60em) {
    @content;
  }
}

@mixin bp-medium() {
  @media only screen and (max-width: 40em) {
    @content;
  }
}

@mixin bp-small() {
  @media only screen and (max-width: 30em) {
    @content;
  }
}

// CLEARFIX
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
