body {
	min-height: 100%;
}

#nav {
	width: 100%;
	height: 50px;
	padding-top: 15px;
	@include bp-small() ;
	@include box-sizing();
	h1 {
		@include fonts($name-font, 1.5em, $name-font-color);
		text-align: center;
		margin: 0 0 5px 0;
		
	}
	ul {
		padding: 0;
		text-align: center;
		margin: 0;
		a {
			text-decoration: none;
			.active-nav {
				color: $nav-active-color;
			}
		
			li {
				@include center-list;
				@include fonts($font: $nav-font, $size: 0.6em, $color: $nav-font-color);
				@include linx($nav-font-color, $nav-hover-color, $nav-active-color);
				padding: 0 5px;
				margin: 0 2.5%;
				text-transform: uppercase;
				letter-spacing: 1.5px;
			}	
		}
	}
}

.container {
	@include wrapper(600px);
	@include flexbox();
	@include centerflex();
	padding: 0 20px;

	.title {
		text-align: center;
		h1 {
			@include fonts($title-font, 1.2em, $title-font-color);
			text-transform: uppercase;
			letter-spacing: 1px;
			margin: 20px 0;
		}
	}
	
	.item {
		@include flex(0);
		margin: auto;
		&:last-child {
			margin-bottom: 100px;
		}
		a {
			img {
			width: 300px;
			height: 300px;
			background-color: #FAFAFA;
			transition: all .1s ease-in-out; 
			&:hover { transform: scale(1.02); }
			}
		}
		
		p {
			margin-top: 15px;
			margin-bottom: 50px;
			text-transform: uppercase;
			text-align: center;
			@include fonts($label-font, 0.6em, $label-font-color);
			letter-spacing: 1.5px;
		}
	}

	.text {
		p {
			@include fonts($body-font, 0.85em, $body-font-color, $height: 1.4em);
			letter-spacing: 0.1px;
			&:last-child {
				margin-bottom: 200px;
			}
			.link {
				@include linx($nav-font-color, $nav-hover-color, $nav-active-color);
			}

			a {
				@include linx(#999, $dark-blue, $nav-active-color);
				text-decoration: none;
			}
		}
		
	}

	.images {
		margin-bottom: 20px;
		padding: 0 20px;
		img {
			max-width: 100%;
			height: auto;	
		}

		&:last-child img {
			margin-bottom: 80px;
		}
	}
}

.about-container {
	@extend .container;
	@include wrapper(400px);
}

.work-container {
	@include wrapper(600px);
	padding: 0 20px;

	.title {
		text-align: center;
		h1 {
			@include fonts($title-font, 1.2em, $title-font-color);
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	.section {
		margin: 5% 0;
		&:last-child  {
			margin-bottom: 80px;
		}

		.header {
			h1 {
				margin: 0 0 6px 0;
				@include fonts($header-font, 0.8em, $header-font-color);
				text-transform: uppercase;
				letter-spacing: 1.3px;
			}
		}

		.body {

			p {
				margin: 0 0 4px 0;
				@include fonts($body-font, 0.85em, $body-font-color, $height: 1.4em);
				letter-spacing: 0.1px;

				.emph {
					font-weight: bold;

				}
				a {
					@include linx(#999, $dark-blue, $nav-active-color);
				}
			}
			.img {
				text-align: center;
				margin: 5%;
				img {
					max-width: 100%;
				}
			}

			ul { li {
				@include fonts($body-font, 0.85em, $body-font-color, $height: 1.4em);
				letter-spacing: 0.1px;
			} }

			ol { li {
				@include fonts($body-font, 0.85em, $body-font-color, $height: 1.4em);
				letter-spacing: 0.1px;
			} }
		}
	}
}

.tab {
	width: 100%;
	margin-top: 80px;
	margin-bottom: 20px;
	@include box-sizing();
	ul {
		padding: 0; 
		margin: 0;
		text-align: center;
		a {
			text-decoration: none;
			.active-tab {
				color: $tab-active-color;
				padding-bottom: 2px;
				border-bottom: 0.5px $tab-active-color solid;
			}
		
			li {
				@include center-list;
				@include fonts($font: $tab-font, $size: 8px, $color: $tab-font-color);
				@include linx($tab-font-color, $tab-hover-color, $tab-active-color);
				text-transform: uppercase;
				letter-spacing: 2px;
				padding: 0 2px;
				margin: 0 8px;
			}	
		}
	}

}

footer {
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	@include bp-small() {
		position: static;
	}
	
	a {
		@include linx($footer-font-color, $footer-hover-color, $footer-active-color);
		display: block;
		.back {
			display: inline-block;
			float: left;
			margin-left: 30px;
			@include clearfix;
			i {
				display: inline-block;
			}
			p {
				padding: 15px 0 0 15px;
				display: inline-block;
				@include fonts($font: $footer-font, $size: 8px, $color: $footer-font-color);
				text-transform: uppercase;
				letter-spacing: 2px;
			}
		}
	}

	ul {
		float: right;
		margin-right: 30px;
		li {
			@include center-list();
			font-size: 0.5em;
			a {
				@include linx($icon-color, $icon-hover-color, $icon-active-color);
			}
		}
	}
	
}
