@import url(https://fonts.googleapis.com/css?family=Lora);

// COLORS
$blue: #66CCCC;
$dark-blue: #669999;
$lighter-gray: #FAFAFA;
$light-gray: #666;
$dark-gray: #333;

$lora: 'Lora', serif;


$nav-font: $lora;
$nav-font-color: $light-gray;

$link-hover-color: $blue;
$link-active-color: $dark-blue;